
@{
    ViewBag.Title = "Log in";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<ul>
    @foreach (IAuthenticationClient client in Model)
    {
        <li>@Html.ActionLink(client.ProviderName, "RequestAuth",new {provider = client.ProviderName})</li>
    }
</ul>



@section Scripts {
    
}
